PORT=8000
ENVIRONMENT=development
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_DATABASE_ID=63b1b80b-ee96-4948-acce-c96d6ac65f61
CLOUDFLARE_API_TOKEN=
LOCAL_SQLITE_PATH=./data/zolexora.db
SUPABASE_URL=https://<PROJECT_REF>.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
