PORT=8001
ENVIRONMENT=development
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_DATABASE_ID=63b1b80b-ee96-4948-acce-c96d6ac65f61
CLOUDFLARE_API_TOKEN=
LOCAL_SQLITE_PATH=../../ims-user/backend/data/zolexora.db
